<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="../static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="../static/css/app.css"/>
    <style>

        .title {
            margin: 20px 15px 10px;
            color: #6d6d72;
            font-size: 15px;
        }

        .oa-contact-cell.mui-table .mui-table-cell {
            padding: 11px 0;
            vertical-align: middle;
        }

        .oa-contact-cell {
            position: relative;
            margin: -11px 0;
        }

        .oa-contact-avatar {
            width: 75px;
        }

        .oa-contact-avatar img {
            border-radius: 50%;
        }

        .oa-contact-content {
            width: 100%;
        }

        .oa-contact-name {
            margin-right: 20px;
        }

        .oa-contact-name, oa-contact-position {
            float: left;
        }
        .mui-badge{
            float: right;
        }
        #mid {

            margin-top: 100%;
            margin-bottom: 50%;
        }
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    {#			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>#}
    <h1 class="mui-title">{{ email }}</h1>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">Home</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-reservation">
        <span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">Reservation</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-flag"></span>
        <span class="mui-tab-label">Billing</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-map">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">Setting</span>
    </a>
</nav>
<div class="mui-content">
    <div id="tabbar" class="mui-control-content mui-active">
        <div id="mid" >
            <div class="mui-content-padded " >
                <a href="makeReservation.html">
                    <button type="button" class="mui-btn mui-btn-primary mui-btn-block">Make Reservation</button>
                </a>
            </div>
            <div class="mui-content-padded ">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block">Arrive</button>
            </div>
            <div class="mui-content-padded ">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block">Departure</button>
            </div>
        </div>
    </div>

    <div id="tabbar-reservation" class="mui-control-content">
        <div class="mui-card">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">Reservation 1</a>
                    <div class="mui-collapse-content">
                        <form class="mui-input-group">
                            <div class="mui-input-row">
                                start time:
                            </div>
                            <div class="mui-input-row">
                                end time:
                            </div>
                            <div class="mui-button-row">
                                <button class="mui-btn mui-btn-primary" type="button" onclick="return true;">cancel</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="tabbar-with-contact" class="mui-control-content">
        <div class="title"></div>
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
            <li class="mui-table-view-cell">
                <div class="mui-slider-cell">
                    <div class="oa-contact-cell mui-table">
                        <div class="oa-contact-avatar mui-table-cell">
                            <span class="mui-icon mui-icon-flag"></span>
                        </div>
                        <div class="oa-contact-content mui-table-cell">
                            <div class="mui-clearfix">
                                <h4 class="oa-contact-name">March 2020 </h4>
                                <span class="mui-badge mui-badge-primary">status</span>
                            </div>
                            <p class="oa-contact-email mui-h6">
                            </p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div id="tabbar-with-map" class="mui-control-content">

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="profile.html">
                    Profile
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="plate.html">
                    MyPlate
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="contract.html">
                    Contract
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="transaction.html">
                    MyTransactions
                </a>
            </li>
        </ul>

        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell">
                <a style="text-align: center;color: #FF3B30;">
                    Sign out
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../static/js/mui.min.js"></script>
<script>

</script>
</html>