<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="../static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="../static/css/app.css"/>
    <style>

        .title {
            margin: 20px 15px 10px;
            color: #6d6d72;
            font-size: 15px;
        }

        .oa-contact-cell.mui-table .mui-table-cell {
            padding: 11px 0;
            vertical-align: middle;
        }

        .oa-contact-cell {
            position: relative;
            margin: -11px 0;
        }

        .oa-contact-avatar {
            width: 75px;
        }

        .oa-contact-avatar img {
            border-radius: 50%;
        }

        .oa-contact-content {
            width: 100%;
        }

        .oa-contact-name {
            margin-right: 20px;
        }

        .oa-contact-name, oa-contact-position {
            float: left;
        }

        .mui-badge {
            float: right;
        }

    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    {#			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>#}
    <h1 class="mui-title">{{ email }}</h1>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">Home</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-reservation">
        <span class="mui-icon mui-icon-email">
{#            <span class="mui-badge">9</span>#}
        </span>
        <span class="mui-tab-label">Reservation</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-contact">
        <span class="mui-icon mui-icon-flag"></span>
        <span class="mui-tab-label">Billing</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-map">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">Setting</span>
    </a>
</nav>
<div class="mui-content">
    <div id="tabbar" class="mui-control-content mui-active">
        <div id="mid">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% if user.isArrive == 0 %}
                {% if canres %}
                    <div class="mui-content-padded ">
                    <a href="/makeRes?email={{ email }}">
                        <button type="button" class="mui-btn mui-btn-primary mui-btn-block">Make Reservation</button>
                    </a>
                </div>
                {% else %}
                    <div class="mui-content-padded ">
                     <button type="button" disabled="disabled" class="mui-btn mui-btn-primary mui-btn-block">Please Check Your Reservation</button>

                    </div>

                {% endif %}


                <div class="mui-content-padded ">
                    <button type="button" class="mui-btn mui-btn-green mui-btn-block"
                            onclick="location.href='/arrive?email={{ email }}'">Arrive
                    </button>
                </div>
            {% else %}
                <div class="mui-content-padded ">
                    <button type="button" class="mui-btn mui-btn-red mui-btn-block"
                            onclick="location.href='/depart?email={{ email }}'">Depart
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="tabbar-reservation" class="mui-control-content">
        <br>
        <div class="mui-card">
            <ul class="mui-table-view">

                {% for res in reslist %}
                    <li class="mui-table-view-cell mui-collapse">
                    {% if res.status == "Confirmed" %}
                        <a class="mui-navigate-right" href="#">Reservation {{ res.id }}<span class="mui-badge mui-badge-danger">{{ res.status }}</span></a>
                    {% else %}
                        <a class="mui-navigate-right" href="#">Reservation {{ res.id }}<span class="mui-badge mui-badge-primary">{{res.status}}</span></a>
                    {% endif %}

                        <div class="mui-collapse-content">
                            <div class="mui-input-group">
                                <div class="mui-content-padded ">
                                    Start Time: {{ res.startTime }}
                                </div>
                                <div class="mui-content-padded ">
                                    End Time: {{ res.endTime }}
                                </div>
                                <div class="mui-content-padded ">
                                    status: {{ res.status }}
                                </div>
                                <div class="mui-content-padded ">
                                    confirmNum: {{ res.confirmNum }}
                                </div>
                                {% if res.status == "Canceled" %}

                                {% else %}
                                    <div class="mui-button-row">
                                        <button class="mui-btn mui-btn-primary" type="button"
                                                onclick="location.href='/cancel?email={{ email }}&resid={{ res.id }}'">
                                            cancel
                                        </button>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div id="tabbar-with-contact" class="mui-control-content">
        <div class="title"></div>
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
            <li class="mui-table-view-cell">
                <div class="mui-slider-cell">
                    <div class="oa-contact-cell mui-table">
                        <div class="oa-contact-avatar mui-table-cell">
                            <span class="mui-icon mui-icon-flag"></span>
                        </div>
                        <div class="oa-contact-content mui-table-cell">
                            <div class="mui-clearfix">
                                <h4 class="oa-contact-name">March 2020 </h4>
                                <span class="mui-badge mui-badge-primary">status</span>
                            </div>
                            <p class="oa-contact-email mui-h6">
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="tabbar-with-map" class="mui-control-content">

        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="/profile?email={{ email }}">
                    Profile
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="/plate?email={{ email }}">
                    MyPlate
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="/contract?email={{ email }}">
                    Contract
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="/transaction?email={{ email }}">
                    MyTransactions
                </a>
            </li>
        </ul>

        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell">
                <a href="/logout" style="text-align: center;color: #FF3B30;">
                    Sign out
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../static/js/mui.min.js"></script>
<script>
    function formSub() {
        document.getElementById("profile-form").submit();
    }
</script>
</html>