<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../static/css/mui.min.css" rel="stylesheet" />
		<link href="../static/css/style.css" rel="stylesheet" />

		<style>
			.area {
				margin: 20px auto 0px auto;
			}
			.mui-input-group:first-child {
				margin-top: 20px;
			}
			.mui-input-group label {
				width: 22%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				top: 6px;
			}
			.mui-content-padded {
				margin-top: 25px;
			}
			.mui-btn {
				padding: 10px;
			}

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">Reservation</h1>
		</header>
		<div class="mui-content">
			<form id='res-form' action="/makeReservation" class="mui-input-group" method="post">
                <div class="mui-input-row">
					<label>Start</label>
					<input id='start' name="start" type="datetime-local" value="2020-01-01T00:00:00">
				</div>
				<div class="mui-input-row">
					<label>End</label>
					<input id='end' name="end" type="datetime-local" value="2020-01-01T00:00:00">
				</div>
            </form>
			<div id="mid" >
                <div class="mui-content-padded ">
                    <button id='reservation' onclick="formSub()" type="button" class="mui-btn mui-btn-primary mui-btn-block">Make Reservation</button>
                </div>
            </div>

		</div>
		<script src="../static/js/mui.min.js"></script>
		<script src="../static/js/app.js"></script>
		<script>
            function formSub() {
                document.getElementById("res-form").submit();
            }
		</script>
	</body>

</html>